<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_6y36uB7UaqRcjBdfrTveLinkG4o76GA</string>
	<key>GCM_SENDER_ID</key>
	<string>295736389256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemax.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cinemax-42101</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemax-42101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295736389256:ios:92c6c0095c2884abf3f93d</string>
</dict>
</plist>